<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />

		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>

		<title>GrandPy bot</title>
	</head>

	<body>

		<div id='block_page'>
			
			<header>
				<img src="{{ url_for('static', filename='images/logo2.jpeg') }}" alt="logo">
				<h1>GrandPy Bot</h1>
				<p id='citation'>
					Raconte nous une histoire...
				</p>
			</header>

			<section>
				<div id='chat_box'>
					<h2>Chatbox</h2>

					<div id=chat_banniere>
						<img id='chat_picture' 
							src="{{ url_for('static', filename='images/logo2.jpeg') }}" alt="logo">
						<p class="center">GrandPy Bot</p>
					</div>

					<ul id='conversation_screen'>

					</ul>

					<form id="userInput" method="post" onsubmit="collect_message(); return false;">
						<input type="text" name="userText" id="userText"
							placeholder="Taper votre demande et appuyez sur entrer"
							size=70% maxlength="100" />
					</form>

				</div>
			</section>

			<footer>
				<p>Maurice Donovan</p>
				<a class="network_picture" href="https://github.com/tetrew88?tab=repositories">
					<img src="../static/images/git-hub.png" alt="Git-hub" />
				</a>
			</footer>
		
		</div>

		<script src="{{ url_for('static', filename='js/message.js') }}"></script>
		<script src="{{ url_for('static', filename='js/grandPy.js') }}"></script>

		<script src="{{ url_for('static', filename='js/index.js') }}"></script>

	</body>

</html>