<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>

		<title>GrandPy bot</title>
	</head>

	<body>
		<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyD3UanyjV5IphscC92cuW9Kx9R-FzVMyco"></script>

		<div id='block_page'>
			
			<header>
				<img id='logo' src="{{ url_for('static', filename='images/logo.jpeg') }}" alt="logo">
				<h1>GrandPy Bot</h1>
				<p id='citation'>
					Raconte nous une histoire...
				</p>
			</header>

			<section>
				<div id='chat_box'>
					<h2>Chatbox</h2>

					<div id=chat_banniere>
						<img id='chat_picture' 
							src="{{ url_for('static', filename='images/logo.jpeg') }}" alt="logo">
						<p class="center">GrandPy Bot</p>
					</div>

					<ul id='conversation_screen'>

					</ul>

					<div id="map"></div>

					<form id="userInput" method="post" onsubmit="collect_message(); return false;">
						<input type="text" name="userText" id="userText"
							placeholder="taper votre demande (ex: hey GrandPy connais tu l'adresse de ...)" />
					</form>

				</div>
			</section>

			<footer>
				<p>Maurice Donovan</p>
				<a class="network_picture" href="https://github.com/tetrew88?tab=repositories">
					<img src="../static/images/git-hub.png" alt="Git-hub" />
				</a>
			</footer>
		
		</div>

		<script src="{{ url_for('static', filename='js/place.js') }}"></script>

		<script src="{{ url_for('static', filename='js/message.js') }}"></script>

		<script src="{{ url_for('static', filename='js/grandPy.js') }}"></script>

		<script src="{{ url_for('static', filename='js/index.js') }}"></script>


	</body>

</html>