/*Police*/
@font-face
{
        font-family: 'FFF_Tusj';
        src: url('../polices/FFF_Tusj.ttf');

        font-weight: normal;
        font-style: normal;
}

@font-face
{
        font-family: 'Pacifico';
        src: url('../polices/Pacifico.ttf');

        font-weight: normal;
        font-style: normal;
}

@font-face
{
        font-family: 'Rubik.ttf';
        src: url('../polices/Rubik.ttf');

        font-weight: normal;
        font-style: normal;
}

/*generic classes*/
h2
{
	font-size: 1.8em;
    font-family: 'Pacifico', Arial, serif;
    font-weight: bold;

    color: white;

    text-shadow: 4px 4px 4px black;
}

h1
{
	font-size: 2em;
    font-family: 'FFF_Tusj', Arial, serif;
    font-weight: bold;

    color: red;

    text-shadow: 4px 4px 4px black;
    text-transform: uppercase;
}

.center
{
	margin: auto;
}

/*-----Page-----*/

/*###bloc page###*/
#block_page
{
	display: flex;
	flex-direction: column;
	width: auto;
    margin: auto;
}

body
{
	background: url(../images/fond.jpg);

}


/*###header###*/
header
{
	/*flex box parameter*/
	display:  flex;
	flex-direction: row;
	justify-content: center;

	opacity: 0.4;
	margin: auto;
	background-color: white; 

	width: 100%;

	/*bordure*/
    border: 4px inset silver;
    border-radius: 20px;

}

#citation
{
	/*alignement*/
	float: left;
	align-self: flex-end;

	/*text*/
	font-size: 1em;
    font-family: 'Pacifico', Arial, serif;
    font-weight: bold;

    color: black;

    text-shadow: 4px 4px 4px black;
}


/*###chatBox###*/
#chat_box
{
	/*flexbox parameter*/
	display: flex;
	flex-direction: column;
	
	align-items: center;

	margin: auto;
	margin-top: 5em;
	margin-bottom: 5em;

	width: 70%;
	height: 80%;

	background-color: black;
	opacity: 0.8;

	/*border*/
	border: 2px inset blue;
	border-radius: 20px;	
}

#chat_banniere
{
	display:  flex;
	flex-direction: row;

	width: 71.1%;
	height: 90px;

	background-color: red;

	font-size: 1.5em;
    font-family: 'Pacifico', Arial, serif;
    font-weight: bold;

    color: black;
    opacity: 0.8;

    text-shadow: 4px 4px 4px black;
    text-align: center;

    /*border*/
	border-top-right-radius: 15px;

	border: 3px inset blue;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	border-bottom: none;
}

#chat_picture
{
	align-self: flex-start;

	margin-left: 6px;
	margin-top: 4px;

	width: 12%;
	height: 84%;

	border: 3px outset white;
	border-radius: 10px;
}

#conversation_screen
{
	display: flex;
	flex-direction: column;

	margin: auto;
	margin-bottom: 4%;

	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 5px;
	padding-top: 5px;

	width: 70%;
	height: 500px;
	max-height: 500px;

	background-color: white;

	overflow: auto;

	border: 3px inset blue;
	border-top: none;
	
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#conversation_screen li
{
	list-style: none;
}


.bubble_text
{
	width: auto;
	min-width: 15%;

	height:  auto;

	background: blue; 
	color: black;

	padding:2% 2%;

	margin-bottom: 2%;
	margin-top: 2%; 

	border-radius:10px;

	opacity: 0.9;

	border: 1px inset red;

}

.messageHeader
{
	margin-top: 0.5%;
	margin-bottom: 1%;
}

.message
{
	margin-top: 0.5%;
	text-indent: 5%;
}

#map 
{
	height: 0;
	width: 0;

	margin: center;

	background: black;

	border-radius:10px;
}


form
{
	width: 72%;
	margin-bottom: 2.5%; 
}

input
{
	border: 3px inset blue;
	border-radius:10px;

	margin-bottom: 3%;

	width: 100%;
}

.end_allign
{
	align-self: end;
}

.start_allign
{
	align-self: start;
}


/*###footer###*/
footer
{
	display: flex;
	flex-direction: column;

	font-family: 'FFF_Tusj', Arial, serif;
	
	margin: auto;

	font-size: 2em;
    font-weight: bold;
}

li
{
	margin-bottom: 20px;
}

ul ul
{
	margin-bottom: 5px;
}

.network_picture
{
	margin: auto;
}